<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; IIH GROUP OF HOSPITALS... </b></a>
    <span class="quote text-light"></span>

    <br>
</nav>



<div class="container col-md-6 mt-0">
    <div class="card">
        <div class="card-header">
            <h3 appHighight class="text-center">NEW ENTRY</h3>

        </div>
        <div class="card-body">
            <form>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">SERVICE NAME</span>
                    </div>

                    <input type="text" id="sname" class="form-control" placeholder="SERVICE NAME">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">SERVICE CODE</span>
                    </div>
                    <input type="text" id="scode" class="form-control" placeholder="SERVICE CODE">
                </div>
                <div>
                    <div class="container col-md-6 mt-0">

                        <button (click)="adddata()">ADD</button>
                        <button (click)="back()">BACK</button>



                    </div>

                </div>

            </form>
        </div>
    </div>
</div>