
<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; IIH GROUP OF HOSPITALS... </b></a>
    <span class="quote text-light"></span>

    <br>
</nav>
<div class="card-header">
    <h3 appHighight class="text-center">LIST OF RECORDS</h3>

</div>
<div class="container col-md-6 mt-0">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">SOURCE CODE</th>
                <th scope="col">SOURCE NAME</th>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td>SEQFI00163</td>
                <td>WARMING BLANKET</td>



            </tr>
            <tr>

                <td>SEQFH00113</td>
                <td>USE OF YAG LASER</td>


            </tr>

            <tr>

                <td>SEQFH00365</td>
                <td>VIDEO TAPE</td>



            </tr>
            <tr>

                <td>SEQFH00109 </td>
                <td>USE OF VENTILATOR</td>



            </tr>
            <tr>

                <td>SEQFH00222</td>
                <td>BP MONITORING</td>



            </tr>
            <tr>

                <td>SEQFN00021></td>
                <td>WRIST JOINT</td>



            </tr>
            <tr>

                <td>SEQFI00063</td>
                <td>USE OF NEURO MICROSCOPE</td>



            </tr>
            <tr>


                <td>SEQFI00057</td>
                <td>USE OF MINI SET</td>



            </tr>
            <tr>

                <td>SEQFH00995</td>
                <td>USE OF YELLOW LASER WITH MICROPULSE</td>



            </tr>
            <tr>

                <td>SEQFH00379</td>
                <td>CLINIC INSTRUMENTS</td>



            </tr>
            <tr>

                <td></td>
                <td></td>



            </tr>
        </tbody>
        <div>
            <div class="container col-md-6 mt-0">
        
                <button (click)="prev()">PREVIOUS</button><span></span>
            
            
            </div>
            <div class="container col-md-6 mt-0 ">

            <button (click)="next()">NEXT</button> 

            </div>
        </div>
    </table>
    
</div>
